<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>728056269519-i7o74j7p6gvvenn6k3f01tjstu6usj4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728056269519-i7o74j7p6gvvenn6k3f01tjstu6usj4k</string>
	<key>API_KEY</key>
	<string>AIzaSyDmHmjnDaYQacj6Ny-bhRKZV6IW5i1JGUs</string>
	<key>GCM_SENDER_ID</key>
	<string>728056269519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kxdev.newsAppSwift</string>
	<key>PROJECT_ID</key>
	<string>newsapp-49f7a</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-49f7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:728056269519:ios:5c475913f7d9dc3c</string>
	<key>DATABASE_URL</key>
	<string>https://newsapp-49f7a.firebaseio.com</string>
</dict>
</plist>